<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Votez pour Chambé !</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<section class="section">
    <div class="container">
        <div class="notification">
            Votre demande de vote a été prise en compte, vous devez maintenant confirmer que vous étudiez bien à Polytech Chambéry en allant sur votre adresse mail universitaire. Verifiez votre boite de SPAM...
        </div>
    </div>
</section>